@font: "Open Sans", Arial, sans-serif;

@dark-blue: #283645;
@pink: #d22856;
@grey: #1d2631;
@light-grey: #e5e5e5;
@bg-color: #f2f2f2;
@btn: #2aab6d;
@btn-hover: #1c9b5e;

@container-padding-mobile: 6.25%;
