.control {
  display: none;
  visibility: hidden;
}

@media @desktop-width {

  .control {
    display: block;
    visibility: visible;
  }

  .control__arrow {
    position: absolute;
    top: 52%;
    width: 22px;
    height: 41px;
    background-color: transparent;
    background-size: 22px 41px;
    background-repeat: no-repeat;
    opacity: 0.3;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

    &.control__arrow--left {
      left: 10px;
      background-image: url("../img/icon-review-arrow-left.svg");
    }

    &.control__arrow--right {
      right: 10px;
      background-image: url("../img/icon-review-arrow-right.svg");
    }
  }
}
