.contacts {
  padding-top: 7px;
}

.contacts__header {
  margin: 37px 0;
}

.contacts__text {
  .secondary-title(@dark-blue);
  font-size: 18px;
  text-align: center;
  margin: 27px 0;
}

.contacts__value {
  display: block;
  font-size: 24px;
  margin-top: 4px;
  font-weight: 300;
  color: @pink;
  text-decoration: none;
}
