.effect {
  position: relative;
  display: none;
  overflow: hidden;
}

@media @tablet-width {

  .effect {
    display: block;
    visibility: visible;

    &::before {
      content: "24";
      right: ~"calc(50% + 71px)";
      font-size: 96px;
      line-height: 300px;
      top: 58px;
      text-align: center;
      color: @pink;
      font-weight: 700;
      position: absolute;
      width: 238px;
      height: 276px;
      background-image:
        url("../img/icon-editor-diagram-fill.svg"),
        url("../img/icon-timer.svg");
      background-size: 202px, 238px 276px;
      background-repeat: no-repeat;
      background-position: center 56px, center;
    }
  }

  .effect__wrapper {
    padding-left: calc(@column-width-tablet*2 + @container-padding-tablet*1.5);
    padding-top: 66px;
    padding-bottom: 66px;
  }

  .effect__title {
    .secondary-title();
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 0;
    max-width: 250px;
  }

  .effect__desc {
    .text-blue();
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
  }

  .effect__link {
    .text-pink();
    font-size: 14px;
    line-height: 24px;
  }
}

@media @desktop-width {

  .effect {
    background-color: @bg-color;

    &::before {
      width: 298px;
      height: 345px;
      top: 5px;
      font-size: 120px;
      line-height: 382px;
      right: ~"calc(50% + 170px)";
      background-size: 253px, 298px 345px;
      background-position: center 70px, center;
    }
  }

  .effect__wrapper {
    padding-left: 376px;
    padding-bottom: 112px;
  }

  .effect__title {
    max-width: 100%;
  }

  .effect__desc {
    font-size: 18px;
    line-height: 30px;
    margin: 25px 0 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
