.feature {
  margin: 15px 0;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__title {
  .secondary-title();
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 13px;
}

.feature__desc {
  .text-blue();
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

@media @tablet-width {

  .feature {
    margin: 17px 0;
    text-align: left;
  }
}

@media @desktop-width {

  .feature {
    margin-top: 0;
    padding-top: 355px;
    width: 32%;
    text-align: center;

    &.feature--initial,
    &.feature--intermediary,
    &.feature--result {
      background-size: 292px 302px;
      background-repeat: no-repeat;
      background-position: top;
    }

    &.feature--initial {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media @retina {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &.feature--intermediary {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media @retina {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &.feature--result {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media @retina {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .feature__title {
    font-size: 30px;
    line-height: 30px;
    margin: 0 30px 25px;
  }

  .feature__desc {
    font-size: 18px;
    line-height: 30px;
    margin: 0 30px;
  }
}
