.features__header {
  padding-top: 12px;
  padding-bottom: 6px;
}

.features__items {
  .bg-triangle();
  display: flex;
  flex-direction: column;
  background-color: @bg-color;
  padding-top: 51px;
}
