.feedback {
  overflow: hidden;
  position: relative;
  padding-top: 30px;
  padding-bottom: 43px;
  color: #ffffff;
}

.feedback__list {
  display: flex;
  padding: 13px 0 18px;
}

@media (min-width: @tablet-width) {

  .feedback {
    padding-bottom: 21px;
  }

  .feedback__list {
    padding-bottom: 38px;
  }
}

@media (min-width: @desktop-width) {

  .feedback {
    padding-top: 154px;
    padding-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      width: 79px;
      height: 63px;
    }
  }

  .feedback__list {
    padding: 13px 80px 10px;
  }

  .feedback__pagination {
    display: none;
    visibility: hidden;
  }
}
