.field {
  .text-blue();
  font-size: 18px;
  width: 100%;
  line-height: 30px;
  padding: 15px 20px;
  border: 2px solid @light-grey;
  border-radius: 3px;
  font-family: @font;
  outline: none;

  &:hover {
    border-color: @dark-blue;
  }

  &:focus {
    border-color: @pink;
  }
}
