.plan {
  .bg-triangle();
  padding: 88px 0 50px;
  background-color: @bg-color;
  color: @bg-color;
  overflow: hidden;
}

@media @tablet-width {
  .plan {
    padding: 85px 0 70px;
  }

  .plan__pagination {
    display: none;
    visibility: hidden;
  }
}

@media @desktop-width {
  .plan {
    padding: 148px 0 97px;
  }
}
