.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;

  &.popup--show {
    display: block;
  }
}

.popup__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 20px;
  padding-bottom: 50px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid @light-grey;
  width: 100%;
  box-shadow: 0 3px 20px 0 @light-grey;

  &.popup__inner--background {
    background-image: linear-gradient(to top, @bg-color 163px, transparent 163px);
  }

  &.popup__inner--background .popup__desc {
    margin-bottom: 82px;
  }
}

.popup__title {
  .secondary-title();
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.popup__desc {
  .text-blue();
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 26px 0 38px;
}

@media @tablet-width {

  .popup__inner {
    width: 460px;
    padding-left: 80px;
    padding-right: 80px;

    &.popup__inner--background .popup__desc {
      margin-bottom: 76px;
    }
  }

  .popup__btn {
    width: 100%;
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
    margin-top: 14px;
    margin-bottom: 0;
  }

  .popup__desc {
    font-size: 18px;
  }
}

@media @desktop-width {

  .popup__inner {

    &.popup__inner--background {
      width: 780px;
      padding-left: 160px;
      padding-right: 160px;
    }

    &.popup__inner--background .popup__desc {
      margin-bottom: 85px;
    }
  }
}
