.promo {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: @dark-blue;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 100px 0 50px;
  min-height: 239px;

  @media @retina {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &.promo--main {
    background-image:
      url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-mobile@1x.jpg");
    background-size: 254px 288px, cover;
    background-position: left 176px, top;
    background-repeat: no-repeat;
    padding: 462px 0 0;

    @media @retina {
      background-image:
        url("../img/iphone-hand-mobile@2x.png"),
        url("../img/bg-back-mobile@2x.jpg");
    }
  }
}

.promo__header,
.promo__main-wrapper {
  width: 100%;
}

.promo__title {
  .main-title(#ffffff);
  font-size: 24px;
  text-align: center;
  margin: 0;
}

@media @tablet-width {

  .promo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 438px;
    padding: 178px 0 80px;

    @media @retina {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &.promo--main {
      background-image:
        url("../img/iphone-hand-tablet@1x.png"),
        url("../img/bg-back-tablet@1x.jpg");
      background-position: bottom right -22px, center;
      background-size: 700px 545px, cover;
      padding: 205px 0 108px;

      @media @retina {
        background-image:
          url("../img/iphone-hand-tablet@2x.png"),
          url("../img/bg-back-tablet@2x.jpg");
      }
    }
  }

  .promo__main-wrapper {
    padding-right: calc(@column-width-tablet*2 + @container-padding-tablet*2);
  }

  .promo__title {
    font-size: 50px;
  }
}

@media @desktop-width {

  .promo {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    min-height: 395px;
    padding: 172px 0 102px;

    @media @retina {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &.promo--main {
      background-image:
        url("../img/iphone-hand-desktop@1x.png"),
        url("../img/bg-back-desktop@1x.jpg");
      background-size: 1050px 645px, cover;
      background-position-x: ~"calc(50% + 71px)", center;
      padding: 222px 0 0;

      @media @retina {
        background-image:
          url("../img/iphone-hand-desktop@2x.png"),
          url("../img/bg-back-desktop@2x.jpg");
      }
    }
  }

  .promo__main-wrapper {
    padding-right: 650px;
  }

  .promo__title {
    font-size: 50px;
  }
}
