.social {
  display: flex;
  justify-content: center;
  margin: 37px 0;
}

.social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  margin: 0 6px;
  padding: 10px;
  width: 51px;
  height: 51px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  font-size: 0;

  &:hover,
  &:focus {
    border-color: @dark-blue;
  }

  &:active {
    opacity: 0.3;
    border-color: rgba(40, 54, 69, 0.1);
  }
}

.social__image {
  fill: @pink;
}

@media @tablet-width {

  .social {
    width: 33%;
    margin: 0;
  }
}
