.textarea {
  .text-blue();
  font-family: @font;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  padding: 14px 18px;
  border: 2px solid @light-grey;
  margin: 14px 0 15px;
  border-radius: 3px;
  min-height: 200px;
}

@media (min-width: @tablet-width) {

  .textarea {
    min-height: 190px;
  }
}

@media (min-width: @desktop-width) {

  .textarea {
    min-height: 122px;
  }
}
